<!DOCTYPE html>
<html>
<head>
  <title> Su Su Aung - Part Designer, Part Developer</title>
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="main_navigation" class="clearfix">
            <%= link_to "Su Su Aung", root_path, class:"name" %>
            <nav>
                <%= link_to "Articles", posts_path %>
                <%= link_to "Projects" , projects_path %>
                <a href="#">Contact</a>
               
            </nav>
        </header>
        <% if notice %>
        <p class="notice"><%= notice %></p>
        <% elsif alert%>
       <p class="alert"><%= alert %></p>
       <% end %>
<%= yield %>
        <footer id="main_footer">
            <p class="copyright">&copy; 2015 Su Su Aung </p>
            <nav> 
                <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="#" target="_blank"><i class="fa fa-github"></i></a>
            </nav>
        </footer>
</body>
</html>
